<html ng-app="todoApp">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.7/angular.js"></script>
        <script src="app.js"></script>
        <script src="app/controller/todo-controller.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style>
        *{
            font-family: 'Roboto';
            font-size: 20px;
        }
        .text-strike {
            text-decoration: line-through;
        }
        </style>
    </head>
    <body ng-controller="TasksController">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Angular Js Todo App</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <input class="form-control" ng-model="vm.taskName" placeholder="Click Submit to add task" />
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-primary" ng-click="vm.addTask();">Submit</button>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-4">
                    <ul class="list-group">
                            <li class="list-group-item" ng-repeat="task in vm.tasks">
                                
                                <div>
                                    <input type="checkbox">
                                    <label class="mb-0">{{task}}</label>
                                    
                                    <button type="button" ng-click="remove(vm.taskName)">X</div>
                                </div>
                            </li>
                            <!-- <li class="list-group-item">
                                <div>
                                    <input type="checkbox">
                                    <label class="mb-0">Task 1 my new task.</label>
                                </div>
                            </li>
                            <li class="list-group-item text-muted">
                                    <div>
                                        <input type="checkbox">
                                        <label class="mb-0 text-strike">Task 2 complete.</label>
                                    </div>
                                </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>